/* // ***************************************************************************** 
// * WEB222 – Assignment 3 
// * I declare that this assignment is my own work in accordance with Seneca Academic Policy. 
// * No part of this assignment has been copied manually or electronically from any other source 
// * (including web sites) or distributed to other students. 
// * 
// * Name: Joseph Mwamba-Mukuna Student ID: 163997216 Date: 26/03/2024 
// * ****************************************************************************** */
body {
    background-color: yellow;
    margin-left: 300px;
    margin-right: 300px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 250px;
}
.form-group label {
    width: 150px;
    padding-right: 5px;
    text-align: right;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 600px;
}
.form-group select {
    flex: none;
    width: 120px;
}
.form-group input[type="radio"]{
    text-align: left;
}
.form-group .credit-card {
    display: block;
    align-items: center;
    border-color: black;
    margin-left: 150px;
    max-width: 100px;
    margin-right: -150px;
}
.form-group .credit-card label {
    margin-right: 20px;
}
.form-group input[type="text"][id="CVV"] {
    flex: none;
    width: 30px; 
}
.submit{
    width: 200px; 
    margin-top: 10px;
    padding: 10px;
    margin-left: 45%;
    background-color: #a56607;
    color: rgb(0, 0, 0);
    border-color: black;
    cursor: pointer;
    border-radius: 50px;
    font-size: large;
}
fieldset{
    margin-bottom: 10px;
}