body{
    padding-left: 600px;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(56, 55, 55);
}
hr{
    height: 1px;
    border: none;
    background-color: #000;
}
h1, h2{
    font-weight: normal;

}
#facility{
    font-style: italic;
    font-weight: bold;
}
#quote{
    padding-left: 60px;
    margin-top: 5px;
}
#contact{
    font-style: italic;
}
#name{
    padding-left: 60px;
    font-style: italic;
    margin-bottom: 5px;
}